name: Debugger

on:
  repository_dispatch:
    types:
      - "run debugger"
jobs:
  # ------------------------
  affected_apps:
    name: Gather Affected
    runs-on: ubuntu-latest
    outputs:
      cz: ${{ steps.generate-matrix.outputs.cz }}
      hu: ${{ steps.generate-matrix.outputs.hu }}
      sk: ${{ steps.generate-matrix.outputs.sk }}
      default: ${{ steps.generate-matrix.outputs.default }}
      cz_array: ${{ steps.generate-matrix.outputs.cz_array }}
      hu_array: ${{ steps.generate-matrix.outputs.hu_array }}
      sk_array: ${{ steps.generate-matrix.outputs.sk_array }}
      default_array: ${{ steps.generate-matrix.outputs.default_array }}
    steps:
      - uses: actions/checkout@v3
        name: Checkout
      - uses: actions/setup-node@v3
        name: Setup Node
        with:
          node-version: '18.16.0'
      # ------------------------
      - uses: pnpm/action-setup@v2
        name: Setup pnpm
        with:
          version: 8
          run_install: false
      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV
      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-
      - name: Install dependencies
        run: pnpm install
      # ------------------------
      - name: Derive affected app names
        id: derive-affected
        shell: bash
        run: |
          echo "AFFECTED=$(npx nx show projects --affected --exclude \*-e2e)" >> $GITHUB_ENV
      - name: Generate Matrix
        id: generate-matrix
        shell: bash
        run: |
          echo "from env: $AFFECTED"
          chmod +x ./scripts/byRegion.sh
          ./scripts/byRegion.sh
